# Keep folder holding public roles empty
roles/*
!roles/requirements.yml
!roles/requirements.yml.disabled

# Keep folder holding collections empty
collections/*
!collections/requirements.yml
!collections/requirements.yml.disabled